body{
  width: 100%;
  background: hsl(218, 28%, 13%);
  color: white;
}


/* FONTS */

h1{
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;

}

h5{
  margin: 30px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

}

/* NAVBAR */
.navbar{
  background: hsl(217, 28%, 15%);
  color: white;
  z-index: 2;
}

.nav-link{
  color: white;
}

/* TOP */

#top-container{
  width: 100%;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 50px 0;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index: 1;
}

.another-color{
  background: hsl(217, 28%, 15%);
  position: absolute;
  top: 10px;
  width: 100%;
  height: 500px; /* NOTE: NEEDS FIX THIS */
  z-index: 0;
}

.top-container-content{
  width: 80%;
  margin: auto;
}

.intro-illustration{
  max-width: 100%;
  height: auto;
}


/* BUTTON */
.button{
  font-weight: 600;
  letter-spacing: 1.1px;
  border-radius: 30px;
  width: 80%;
  margin: auto;
  padding: 15px;
  background: linear-gradient(90deg,hsl(176, 68%, 64%),hsl(198, 60%, 50%))
}


/* MIDDLE */

/* ICONS */
.four-icons{
  width: 80%;
  margin: 100px auto;
  text-align: center;
  display: grid;
  font-family: 'Open Sans', sans-serif;
}

.icon{
  padding: 50px 0;
}

.icon img{
  padding-bottom: 30px;
}

.text-header{
  font-weight: 700;
  font-size: 20px;
}

.text-content{
  font-size: 16px;
}

/* MIDDLE-CONTENT */

.middle-content{
  width: 80%;
  margin: 0 auto 100px;
}

.middle-content img{
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.how-works{
  display: inline-block;
  color: hsl(176, 68%, 64%);
  align-items: center;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

.how-works img{
  margin: 0 0 0 5px;
}

/* USERS EXP */

.users-expierence{
  width: 80%;
  margin: 200px auto;
  font-family: 'Open Sans', sans-serif;
  position: relative;

}

.user-card{
  background: hsl(219, 30%, 18%);
  border-radius: 20px;
  margin: 50px 0;
  padding: 40px 30px;
}

.user-function{
  margin: 0;
  font-size: 10px;
}

.user-comment{
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 30px;
}

.user-name{
  margin: 10px 0 0;
  font-weight: 600;
}

.user-introduction{
  letter-spacing: 0.8px;
}

.user-introduction img{
  max-width: 40px;
  border-radius: 100%;
  height: auto;
  float: left;
  margin-right: 15px;
}

.quote-image{
  position: absolute;
  top: -30px;
  left: 20px;
  z-index: -1;
  max-width: 40px;
}

/* FOOTER */

.footer-container{
  width: 90%;
  margin: 100px auto;
}

.footer-image {
  float: left;
  margin-top: 5px;
}

.footer-text-next-to-icon{
  margin-left: 36px;
}
